
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}


            <div class="col-md-10">
                <div class="row">
                    <h1>Admin Panele Xosh Gelmisiniz</h1>
                  
                </div>
               
               
            </div>
  
