#Footer{
	width: 100%;
	background-color: $navbarcolor;
	padding: 40px 0;
	h5{
		color: white;
		span{
			color: red;
		}
	}
	._footter_content > div{
		padding: 0px;
	}

	._part_common_css{
		padding-left: 20px;
		height: 100%;
		color: white;
		ul{
			padding: 0px;
			li{
				color:white;
				list-style: none;
			}
		}

	}
	._middle_part{
		box-shadow: -1px 0 0 0 rgba(255,255,255,.1);
	}
	._right_part{
	    box-shadow: -1px 0 0 0 rgba(255,255,255,.1);
	}
}
