@model PortfolioProject.ViewModel.SinglePressModel
@{
    ViewBag.Title = "SinglePress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <section id="singleProject">

            <div class="container">
                <div class="text-center _section_title">
                    <a href="#">
                        <h2>@Model._single_press.list.title</h2>
                    </a>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="main">
                            <img src="@Model._single_press.press_img" alt="">
                            <p>@Model._single_press.list.content</p>

                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                      <div class="single">
                        <a href="~/Assets/img/press1.jpg" class="thumbnail">
                          <img src="~/Assets/img/press1.jpg">
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                      <div class="single">
                        <a href="~/Assets/img/press2.jpg" class="thumbnail">
                          <img src="~/Assets/img/press2.jpg">
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                      <div class="single">
                        <a href="~/Assets/img/press3.jpg" class="thumbnail">
                          <img src="~/Assets/img/press3.jpg">
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                      <div class="single">
                        <a href="~/Assets/img/press2.jpg" class="thumbnail">
                          <img src="~/Assets/img/press2.jpg">
                        </a>
                      </div> -->
                </div>
            </div>
    </div>
    </section>



